.archives-title
  font-weight normal
  font-size 1.4em
  margin-bottom 10px
  padding 0 30px
  text-shadow 0 0 1px #fff
  &:before
    font-family font-icon
    content '\f073'
    margin-right 10px

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'

.archives-wrapper
  &:last-child
    padding-bottom 10px

  .archives-year > a
    color #555

  .archives
    > article
      padding-top 0
      padding-bottom 0

      header
        .title
          font-size 1.1em