figure.highlight
  margin 0 -30px 16px
  padding 0 30px
  background #3A3C42
  @media screen and (max-width:580px)
    margin 0 -20px 16px
    padding 0 20px

  pre
    margin 0 -30px 0px
    @media screen and (max-width:580px)
      margin 0 -20px 0px

  table
    margin 0
    border-spacing 0

  td
    padding 0
    border-bottom 0

  .gutter
    width 40px
    @media screen and (max-width:580px)
      display none
    pre
      position relative
      padding 10px 0 10px 30px
      border-right 1px solid #fff
      height 100%
      width 30px

pre
  // Theme: Solarized - Light
  // More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
  .comment
  .template_comment
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
    color #93a1a1
    font-style italic

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    color #859900

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    color #2aa198

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    color #268bd2

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    color #b58900

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color #cb4b16

  .deletion
    color #dc322f

.gist
  .highlight
    background #ffffff

  .highlight .c
    color #999988
    font-style italic

  .highlight .err
    color #a61717
    background-color #e3d2d2

  .highlight .k
    font-weight bold

  .highlight .o
    font-weight bold

  .highlight .cm
    color #999988
    font-style italic

  .highlight .cp
    color #999999
    font-weight bold

  .highlight .c1
    color #999988
    font-style italic

  .highlight .cs
    color #999999
    font-weight bold
    font-style italic

  .highlight .gd
    color #000000
    background-color #ffdddd

  .highlight .gd .x
    color #000000
    background-color #ffaaaa

  .highlight .ge
    font-style italic

  .highlight .gr
    color #aa0000

  .highlight .gh
    color #999999

  .highlight .gi
    color #000000
    background-color #ddffdd

  .highlight .gi .x
    color #000000
    background-color #aaffaa

  .highlight .go
    color #888888

  .highlight .gp
    color #555555

  .highlight .gs
    font-weight bold

  .highlight .gu
    color #800080
    font-weight bold

  .highlight .gt
    color #aa0000

  .highlight .kc
    font-weight bold

  .highlight .kd
    font-weight bold

  .highlight .kn
    font-weight bold

  .highlight .kp
    font-weight bold

  .highlight .kr
    font-weight bold

  .highlight .kt
    color #445588
    font-weight bold

  .highlight .m
    color #009999

  .highlight .s
    color #dd1144

  .highlight .n
    color #333333

  .highlight .na
    color teal

  .highlight .nb
    color #0086b3

  .highlight .nc
    color #445588
    font-weight bold

  .highlight .no
    color teal

  .highlight .ni
    color purple

  .highlight .ne
    color #990000
    font-weight bold

  .highlight .nf
    color #990000
    font-weight bold

  .highlight .nn
    color #555555

  .highlight .nt
    color navy

  .highlight .nv
    color teal

  .highlight .ow
    font-weight bold

  .highlight .w
    color #bbbbbb

  .highlight .mf
    color #009999

  .highlight .mh
    color #009999

  .highlight .mi
    color #009999

  .highlight .mo
    color #009999

  .highlight .sb
    color #dd1144

  .highlight .sc
    color #dd1144

  .highlight .sd
    color #dd1144

  .highlight .s2
    color #dd1144

  .highlight .se
    color #dd1144

  .highlight .sh
    color #dd1144

  .highlight .si
    color #dd1144

  .highlight .sx
    color #dd1144

  .highlight .sr
    color #009926

  .highlight .s1
    color #dd1144

  .highlight .ss
    color #990073

  .highlight .bp
    color #999999

  .highlight .vc
    color teal

  .highlight .vg
    color teal

  .highlight .vi
    color teal

  .highlight .il
    color #009999

  .highlight .gc
    color #999
    background-color #EAF2F5

  .type-csharp .highlight .k
    color blue

  .type-csharp .highlight .kt
    color blue

  .type-csharp .highlight .nf
    color #000000
    font-weight normal

  .type-csharp .highlight .nc
    color #2b91af

  .type-csharp .highlight .nn
    color black

  .type-csharp .highlight .s
    color #a31515

  .type-csharp .highlight .sc
    color #a31515