figure.highlight
  margin 0 -30px 16px
  padding 0 30px
  background #3A3C42
  @media screen and (max-width:580px)
    margin 0 -20px 16px
    padding 0 20px

  pre
    margin 0 -30px 0px
    @media screen and (max-width:580px)
      margin 0 -20px 0px

  table
    margin 0
    border-spacing 0

  td
    padding 0
    border-bottom 0

  .gutter
    width 40px
    @media screen and (max-width:580px)
      display none
    pre
      position relative
      padding 10px 0 10px 30px
      border-right 1px solid #fff
      height 100%
      width 30px

pre
  // Theme: Solarized - Light
  // More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
  .comment
  .template_comment
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
    color #93a1a1
    font-style italic

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    color #859900

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    color #2aa198

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    color #268bd2

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    color #b58900

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color #cb4b16

  .deletion
    color #dc322f